<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
  <%= link_to "MoodTracker", days_path, class: "myNavBar myNavBarBrand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "myNavBar" %>
        <li class="nav-item">
          <%= link_to "Days", days_path, class: "myNavBar" %>
        <li class="nav-item">
          <% if signed_in? %> 
            <%= link_to current_user.email, class: "myNavBar" %>
          <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account Info <span class="caret"></span></a>
          <% end %>
        </li>
      </ul>
    </div>
    <% if current_user %>
      <li class="nav-item myNavBar">
        <%= link_to "Logout", destroy_user_session_path, 
            data: { turbo_method: :delete }, 
            class: "myNavBar" %>
      </li>
    <% end %>
        
  </div>
</nav>