<div id="<%= dom_id day %>" class = " d day">
  
  <p>
    <div class="daydate"><strong>Date</strong></div>
    <%= form_for day do |f| %>
    <div style="display: flex;">
    <div class="daydate"><%= day.mooddate %></div>
    <div class="bookmark"><%= f.check_box :isbookmarked, checked_value: :true, unchecked_value: :false, onchange: "this.form.submit();", :title => "Bookmark"  %></div>
    <% end %>
    </div>
  </p>

  <p>
    <div class="dayl"><strong>Rating from 0 - 10</strong></div>
    <div class="dayl"><%= day.moodrating %></div>
  </p>

 <p>
    <div class="dayl"><strong>One Word Description</strong></div>
   <div class="dayl"> <%= day.moodword %></div>
  </p>

  <p>
    <div class="dayl"><strong>Description</strong></div>
    <div class="dayl"><%= day.moodjournal %></div>
  </p>

</div>
