<%= form_with(model: day) do |form| %>
  <% if day.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
        <% day.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <%= form.label :mooddate, "Date: "%>
  </div>

  <div class="form">
    <%= form.date_field :mooddate %>
  </div>
  <div class="form">
    <%= form.label :moodrating, "Rating from 0 - 10: "%>
  </div>
  
  <div class="form">
      <% 0.upto(10) do |i| %>
      <%= form.radio_button(:moodrating, i) %>
      <%= form.label :moodrating,  :value => i%>
      <% end %>
  </div>

  <div class="form">
    <%= form.label :moodjournal, "Describe your day: "%>
  </div>

  <div class="form">
    <%= form.text_area :moodjournal %>
  </div>

  <div class="form">
    <%= form.label :moodword, "Describe your day in one word: "%>
  </div>

  <div class="form">
    <%= form.text_field :moodword %>
  </div>

  <div class="form">
    <%= form.label :isbookmarked, "Bookmark? "%>
  </div>

  <div class="form">
  <%= form.check_box :isbookmarked, checked_value: :true, unchecked_value: :false %>
  </div>
  
  <div class="form">
    <%= form.submit class: "button btn-primary" %>
  </div>

<% end %>
