<% data = Day.group(:moodrating).count %>
<% mood_colors = {5 => '#d9ffcc', 4 => '#b4ff99', 3 => '#8eff66', 2 => '#7bff4c', 1 => '#43ff00', 0 => '#36cc00', -1 => '#289900', -2 => '#1b6600', -3 => '#0d3300', -4 => '#112f06', -5 => '##000000'} %>
<% colors = [] %>
<% data.each do |moodrating, _|%>
 <%  colors << mood_colors[moodrating] %>
<% end %>

<p style="color: green"><%= notice %></p>

<pre id="t1">
    __  ___                ________                __            
   /  |/  /___  ____  ____/ /_  __/________ ______/ /_____  _____
  / /|_/ / __ \/ __ \/ __  / / / / ___/ __ `/ ___/ //_/ _ \/ ___/
 / /  / / /_/ / /_/ / /_/ / / / / /  / /_/ / /__/ ,< /  __/ /    
/_/  /_/\____/\____/\__,_/ /_/ /_/   \__,_/\___/_/|_|\___/_/     
                                                                 
</pre>


<button type='button' class= "backbutton" onclick="location.href='<%= new_day_path() %>';">Create new daily entry</button> 

<div id="piechartbutton" class="leftshift1"><button onclick="switchpiechart()">See pie chart</button></div>

<div id="linechartbutton" class="hidden leftshift1"><button onclick="switchlinechart()">See line chart</button></div>


<div id="linechart">
<%= line_chart Day.group_by_day(:mooddate).sum(:moodrating) %>
</div>

<div id="piechart" class="hidden">
<%= pie_chart data, colors: colors %>
</div>


<div class="leftshift1"><%= render 'search/form'%></div>

<!--
<div id="days" >
  <%# @days.reverse_each do |day| %>
  <div class="daydetails">
    <%=# render day %>
    <p class= "showlink">
      <%=# link_to "Show", day %>
    </p>
    <p class= "divider">
<<>><<>><<>><<>>
    </p>
    </div>
  <%# end %>
</div>
-->

    <footer id="footer"></footer>



<script>

  function switchpiechart() {
    var linechart = document.getElementById("linechart");
    var piechart = document.getElementById("piechart");
    var linechartbutton = document.getElementById("linechartbutton");
    var piechartbutton = document.getElementById("piechartbutton");

    piechart.classList.remove("hidden");
    linechart.classList.add("hidden");
    piechartbutton.classList.add("hidden");
    linechartbutton.classList.remove("hidden");
  }

  function switchlinechart() {
    var linechart = document.getElementById("linechart");
    var piechart = document.getElementById("piechart");
    var linechartbutton = document.getElementById("linechartbutton");
    var piechartbutton = document.getElementById("piechartbutton");

    piechart.classList.add("hidden");
    linechart.classList.remove("hidden");
    piechartbutton.classList.remove("hidden");
    linechartbutton.classList.add("hidden");
  }



  const today = new Date();

  let thisYear = today.getFullYear();

  console.log(thisYear);

  const footer = document.querySelector("#footer");

  const copyright = document.createElement("p");


  copyright.setAttribute('id','copyright');

  copyright.innerText = "Natalie Petrolino (aka vsspnkr) " + thisYear + " ฅ^._.^ฅ";

  footer.appendChild(copyright);


  window.addEventListener("load", function() {
    
    let catblink = document.getElementById('copyright');
    
    setInterval(function() {
        
        catblink.innerText = (catblink.innerText == 'Natalie Petrolino (aka vsspnkr) ' + thisYear + ' ฅ^._.^ฅ' ? 'Natalie Petrolino (aka vsspnkr) ' + thisYear + ' ฅ^u_u^ฅ' : 'Natalie Petrolino (aka vsspnkr) ' + thisYear + ' ฅ^._.^ฅ');

    }, 1000);

} , false);
</script>