<p style="color: green"><%= notice %></p>

<div class= "daydetails2">
  <%= render @day %>
</div>

<div class= "leftshift1">
  <button type='button' onclick="location.href='<%= edit_day_path(@day) %>';">Edit</button> 
  <%= button_to "Delete", @day, method: :delete, data: { turbo_confirm: "Are you sure?"} %>
</div>

<div class="d" id="notes">
  <div style="margin-bottom: 2%; margin-top: 5%;"><strong>Notes:</strong></div>

  <% @day.notes.each do |note| %>
    <div class= "notedetails">
      <strong><%= note.created_at.to_date %></strong>
      <div class= "block"> <%= note.content %> </div>
      <div class= "notesbuttons">
  <button type='button' onclick="location.href='<%= edit_day_note_path(@day, note) %>';">Edit</button> 
      <%= button_to "Delete", [@day, note], method: :delete, data: { turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  <% end %>

  <div class="leftshift1"><%= render partial: "notes/form", locals: {note: @day.notes.new} %></div>

</div>

<div class= backbutton><%= link_to "Back to days", days_path %></div>
